body
{
	font-family:"Euphemia","Corbel", "Georgia";
	/*background-color:#666666;*/
	background-color:#209020;
	color:white;
	margin:25px;
}

#container
{
	width:870px;
	margin:auto;
}

#content
{
	border:1px solid white;
	position:relative;
	min-height:400px;
	padding: 0.5em;
	/*background-color: #5077E0;*/
	background-color:#209020;
}

#links
{
	/*border:1px solid purple;*/
	bottom:10px;
	
}

.link
{
	margin: 20px;
}

#links ul
{
	list-style-type:none;
	/*border:1px solid yellow;*/
	margin:0em;
	padding:0em;
}

#links li
{
	/*border:1px solid green;*/
	text-align:right;
}

a:link, a:visited
{
	text-decoration:none;
	/*color:#CCC;*/
	color: white;
}

a:hover
{
	text-decoration:underline;
	/*color:#F90;*/
	color: white;
}

#links a:active
{
	color:#0CC;
}

#banner
{
	/*background-color:#666666;*/
	background-color:#00CC00;
	color:RGB(255,255,255);
	font-weight:800;
	font-size:1.2em;
	padding:0em 0.5em;
	text-align:center;
}

#below
{
	text-align:center;
	font-size:12px;	
}

content input:hover, input:focus, select:hover, select:focus
{
	background-color:RGBA(220,220,220,10);	
}

.item
{
	border-style:double;
	border-color:white;
	max-width:70%;	
}

.kooi
{
	float:right;
	margin: 9px 5px;	
}

.winkelkooi td
{
	text-align: center;
}

.clear
{
	margin: 0px 0px 0px 600px;
	line-height: 60px;
}

#totaal
{
	/*background-color:#CCC;*/
	color:#666666;	
}

.form
{
	margin: 120px 0px;
}

#map, #map2
{
	width: 400px;
	height: 300px;
}

.plattegrond
{
	float: right;
}